<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "shopfinder-map-popup-${ $.location.shop_id }": {
                        "name": "shopfinder-map-popup-${ $.location.shop_id }",
                        "component": "Dhl_Ui/js/view/shopfinder-map-popup",
                        "location": ${ JSON.stringify($.location) }
                    }
                }
            }
        }
    }
</script>

<div class="map-popup-container"
     id="map-popup-container-${ $.location.shop_id }"
     data-bind="scope: 'shopfinder-map-popup-${ $.location.shop_id }'">
    <h4 data-bind="if: location.display_name">
        <span data-bind="text: location.display_name"></span>
    </h4>
    <div data-bind="text: location.shop_name"></div>
    <div data-bind="text: location.address.street"></div>
    <div>
        <span data-bind="text: location.address.postal_code"></span>
        <span data-bind="text: location.address.city"></span>
    </div>

    <div data-bind="if: location.opening_hours.length > 0">
        <h5 data-bind="i18n: 'Opening hours'"></h5>
        <p data-bind="foreach: location.opening_hours" class="opening-hours">
            <span class="day">
                <span data-bind="text: day_of_week"></span>:
            </span>
            <time data-bind="text: opens"></time> – <time data-bind="text: closes"></time>
            <br/>
        </p>
    </div>

    <div data-bind="if: location.services.length > 0">
        <h5 data-bind="i18n: 'Services'"></h5>
        <p data-bind="foreach: location.services">
            <span data-bind="text: $data"></span><br/>
        </p>
    </div>

    <button type="button" class="action-primary" data-bind="
        i18n: 'Select',
        click: handleLocationSelect
    "></button>
</div>
