<div class="step-title" data-role="title" data-bind="i18n: 'Shipping Settings', visible: visible"/>
<div style="border: 2px solid rgb(255,204,0); padding: 20px; margin: 1em 0;" data-bind="visible: visible">
    <fieldset class="fieldset dhl-shipping-settings-container">
        <img if="image()" data-bind="attr: {src: image}" width="150px" height="auto"/>
        <h3 if="title()" text="title" class="title"/>

        <!-- ko foreach: { data: commentsBefore, as: 'comment' } -->
            <p>
                <span data-bind="html: comment.content"/>
                <span if="comment.hasFootnote" class="asterisk" style="color: #e02b27; font-size: 1.2rem;">*</span>
            </p>
        <!-- /ko -->
        <!-- ko foreach: { data: elems, as: 'element' } -->
            <render if="hasTemplate()"/>
        <!-- /ko -->

        <!-- ko if: footnotes -->
        <!-- ko foreach: { data: footnotes, as: 'footnote' } -->
            <p class="field-note">
                <span class="asterisk" style="color: #e02b27; font-size: 1.2rem;">*</span>
                <span data-bind="html: footnote.content"/>
            </p>
        <!-- /ko -->

        <!-- /ko -->
        <!-- ko foreach: { data: commentsAfter, as: 'comment' } -->
            <p class="field-note">
                <span data-bind="html: comment.content"/>
            </p>
        <!-- /ko -->
        <!-- ko if: errors()-->
            <!-- ko foreach: { data: errors, as: 'error' } -->
            <label class="message error" text="error"/>
            <!-- /ko -->
        <!-- /ko -->
    </fieldset>
</div>
<!-- /ko -->
