.table-checkout-shipping-method {
    td.col-carrier {
        img.carrier-logo {
            height: 60%;
        }
    }
}

/** Shipping selection overview on checkout payment page */
.shipping-option-selections-content {
    border: 2px solid rgb(255, 204, 0);
    padding: 0 10px;
    font-size: smaller;
}
.shipping-option-selections-content ul {
    padding-left: 20px;
}

.dhl-shipping-settings-container {
    h3.title {
        margin-top: 0rem;
    }

    > img {
        margin-bottom: 1.5rem;
    }
}

#modal-shopfinder-map {
  height: 600px;
  max-height: 80vh;
}

.leaflet-popup-content .map-popup-container {
  p {
    margin: 4px 0;
  }

  h4 {
    margin-bottom: 0;
  }

  h5 {
    margin: 0;
  }
}
