<style>
    .field._error .dhl-checkbox {
        color: #e02b27;
    }
</style>
<div class="choice dhl-checkbox">
    <input type="checkbox"
           class="checkbox"
           style="width: auto"
           data-bind="
           checked: value,
           attr: {
                id: uid,
                disabled: disabled,
                name: inputName,
                'aria-describedby': getDescriptionId(),
                'aria-required': required,
                'aria-invalid': error() ? true : 'false'
                },
           hasFocus: focused">

    <label class="label"
           data-bind="checked: value, attr: { for: uid }">
        <span data-bind="text: description || label"></span>
    </label>
</div>
