<style>
    .dhl-radioset-styled .admin__field-option {
        display: inline-block;
        margin-right: 1px;
        margin-bottom: 10px;
    }
    .dhl-radioset-styled label {
        display: block;
        text-align: center;
        border-top: 3px solid #ccc;
        background: #eee;
        padding: 6px 8px;
        cursor: pointer;
    }
    .dhl-radioset-styled input:disabled + label {
        cursor: not-allowed;
        color: #ccc;
    }
    .dhl-radioset-styled input:checked + label {
        background: rgb(255, 204, 0);
    }
    .field._error .dhl-radioset-styled input:checked + label {
        background: #fae5e5;
        color: #e02b27;
    }
</style>
<div class="dhl-radioset-styled">
    <!-- ko foreach: { data: shippingOptionInput.options, as: 'option' } -->
    <div class="admin__field admin__field-option">
        <input type="radio"
               class="admin__control-radio"
               style="display: none"
               data-bind="checkedValue: option.value, checked: $parent.value"
               attr="
               id: $parent.inputCode + option.value,
               name: $parent.inputCode + option.value,
               disabled: option.disabled || $parent.disabled"
        />
        <label class="admin__field-label"
               attr="for: $parent.inputCode + option.value">
            <span data-bind="text: option.label"></span>
        </label>
    </div>
<!-- /ko -->
</div>
