<div class="shopfinder-option">
    <button type="button" id="showShopfinder" data-trigger="showShopfinder">
        <span class="ui-button-text">
            <span text="buttonLabel"></span>
        </span>
    </button>
    <div if="selectedLocation">
        <p>
            <strong text="selectedLocation().shop_name"></strong><br/>
            <span text="selectedLocation().address.street"></span><br/>
            <span text="selectedLocation().address.postal_code"></span>
            <span text="selectedLocation().address.city"></span><br/>
        </p>
    </div>
</div>
<div id="modal-shopfinder" data-bind="afterRender: initModal">
    <div id="modal-shopfinder-map"></div>
</div>
